body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;   
}

h1 {
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;    
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 500px;
    margin: 20px auto;
    
}

ul li {
    background-color: #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

ul li:nth-child(odd) {
    background-color: #eee;
}
